body {
  font-family: "Ubuntu Mono";
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
  overflow: hidden;
}

.sidebar {
  width: auto;
  max-width: 400px;
  flex: 1;
  background-color: #1e272e;
  color: #d2dae2;
  padding: 20px;
  overflow-y: auto;
}

.chat-area {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  background-color: #1976d2;
  color: #d2dae2;
  padding: 30px;
  text-align: center;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f7f9fc;
}

.message {
  margin-bottom: 15px;
}

.sent {
  display: flex;
  justify-content: flex-end;
}

.received {
  display: flex;
  justify-content: flex-start;
}

.message-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 20px;
}

.sent .message-bubble {
  background-color: #1976d2; /* Use the same color as the header */
  color: #ffffff;
  border-bottom-right-radius: 0;
}

.received .message-bubble {
  background-color: #dcdde1;
  color: #2f3640;
  border-bottom-left-radius: 0;
}

.chat-container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}

.message-input {
  background-color: #ffffff;
  padding: 15px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
}

.message-input textarea {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  outline: none;
  background-color: #f7f9fc;
  color: #4475b8;
}

.message-input button {
  background-color: #1976d2; /* Use the same color as the header */
  border: none;
  border-radius: 25px;
  color: #ffffff;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}
